<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./../assets/kattankattan-logo.svg" alt="KattanKattan" height="24" class="me-3">
    </a>
    <a href="https://github.com/luimi/Seleccion-KattanKattan"><i class="fa fa-github" style="color: white;font-size: xx-large;"></i></a>
  </div>
</nav>

<div class="container p-3">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <app-history (select)="onHistorySelected($event)"></app-history>
    </div>
    <div class="col-sm-12 col-md-8">
      <app-search #search></app-search>
    </div>
  </div>
</div>